# Enterprise-only settings
enterprise:
  clustermesh:
    # -- Enable overlapping PodCIDR support
    enableOverlappingPodCIDRSupport: false

    mixedRoutingMode:
      # -- Enable meshing clusters configured with a different primary routing mode.
      # Inter-cluster traffic is forwarded according to the locally configured mode
      # when matching that of the target cluster, native routing if both clusters use
      # native routing, tunnel if both clusters use tunnel, and defaults to tunnel in
      # the case of a mismatch. The tunnel protocol must be configured to the same
      # value in all clusters. Limited to Cluster Scope or Kubernetes Host Scope
      # IPAM modes. Incompatible with the Direct Server Return (DSR) LB mode.
      enabled: false

  # -- Enables egress gateway HA
  egressGatewayHA:
    enabled: false
    # -- Install egress gateway IP rules and routes in order to properly steer
    # egress gateway traffic to the correct ENI interface
    installRoutes: false
    # -- Time between triggers of egress gateway state reconciliations
    reconciliationTriggerInterval: 1s
    # -- Maximum number of entries in egress gateway policy map
    # maxPolicyEntries: 16384
    # -- Healthcheck timeout after which an egress gateway is marked not healthy.
    # This also configures the frequency of probes to a value of healthcheckTimeout / 2
    # healthcheckTimeout: 2s

  srv6:
    # -- Enable SRv6 encapsulation support.
    enabled: false
    # -- Specify SRv6 SID encapsulation.
    encapMode: reduced
    # -- Enables custom SRv6 SID locator pool operator support.
    locatorPoolEnabled: false

  # -- Multi-network support (preview feature)
  multiNetwork:
    # -- Enables the multi-network feature in Cilium CNI
    enabled: false
    # -- Enable multi-network aware automatic L2 routing between nodes
    autoDirectNodeRoutes: true
    # -- Automatically creates a "default" IsovalentPodNetwork on operator startup
    autoCreateDefaultPodNetwork: true

  multicast:
    # -- Enables multicast in cilium, multicast replication works only in tunnel mode.
    enabled: false
