---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: isovalentbgpnodeconfigs.isovalent.com
spec:
  group: isovalent.com
  names:
    categories:
    - cilium
    - isovalentbgp
    kind: IsovalentBGPNodeConfig
    listKind: IsovalentBGPNodeConfigList
    plural: isovalentbgpnodeconfigs
    shortNames:
    - ibgpnode
    singular: isovalentbgpnodeconfig
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          IsovalentBGPNodeConfig is node local configuration for BGP agent. Name of the object should be node name.
          This resource will be created by Cilium operator and is read-only for the users.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the specification of the desired behavior of the
              IsovalentBGPNodeConfig.
            properties:
              bgpInstances:
                description: BGPInstances is a list of BGP router instances on the
                  node.
                items:
                  description: IsovalentBGPNodeInstance is a single BGP router instance
                    configuration on the node.
                  properties:
                    localASN:
                      description: |-
                        LocalASN is the ASN of this virtual router.
                        Supports extended 32bit ASNs.
                      format: int64
                      maximum: 4294967295
                      minimum: 1
                      type: integer
                    localPort:
                      description: |-
                        LocalPort is the port on which the BGP daemon listens for incoming connections.

                        If not specified, BGP instance will not listen for incoming connections.
                      format: int32
                      maximum: 65535
                      minimum: 1
                      type: integer
                    name:
                      description: Name is the name of the BGP instance. This name
                        is used to identify the BGP instance on the node.
                      maxLength: 255
                      minLength: 1
                      type: string
                    peers:
                      description: Peers is a list of neighboring BGP peers for this
                        virtual router
                      items:
                        properties:
                          localAddress:
                            description: |-
                              LocalAddress is the IP address of the local interface to use for the peering session.
                              This configuration is derived from IsovalentBGPNodeConfigOverride resource. If not specified, the local address will be used for setting up peering.
                            pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))
                            type: string
                          name:
                            description: Name is the name of the BGP peer. This name
                              is used to identify the BGP peer for the BGP instance.
                            type: string
                          peerASN:
                            description: |-
                              PeerASN is the ASN of the peer BGP router.
                              Supports extended 32bit ASNs
                            format: int64
                            maximum: 4294967295
                            minimum: 1
                            type: integer
                          peerAddress:
                            description: |-
                              PeerAddress is the IP address of the neighbor.
                              Supports IPv4 and IPv6 addresses.
                            pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))
                            type: string
                          peerConfigRef:
                            description: |-
                              PeerConfigRef is a reference to a peer configuration resource.
                              If not specified, the default BGP configuration is used for this peer.
                            properties:
                              group:
                                default: isovalent.com
                                description: |-
                                  Group is the group of the peer config resource.
                                  If not specified, the default of "isovalent.com" is used.
                                type: string
                              kind:
                                default: IsovalentBGPPeerConfig
                                description: |-
                                  Kind is the kind of the peer config resource.
                                  If not specified, the default of "IsovalentBGPPeerConfig" is used.
                                type: string
                              name:
                                description: |-
                                  Name is the name of the peer config resource.
                                  Name refers to the name of a Kubernetes object (typically a IsovalentBGPPeerConfig).
                                type: string
                            required:
                            - name
                            type: object
                        required:
                        - name
                        type: object
                      type: array
                      x-kubernetes-list-map-keys:
                      - name
                      x-kubernetes-list-type: map
                    routerID:
                      description: |-
                        RouterID is the BGP router ID of this virtual router.
                        This configuration is derived from IsovalentBGPNodeConfigOverride resource.

                        If not specified, the router ID will be derived from the node local address.
                      format: ipv4
                      type: string
                    srv6Responder:
                      description: SRv6Responder is a flag to enable SRv6 responder
                        on the BGP instance.
                      type: boolean
                    vrfs:
                      description: VRFs is a list of VRFs for this virtual router
                      items:
                        properties:
                          configRef:
                            description: ConfigRef is a reference to a IsovalentBGPVRFConfig
                              resource.
                            type: string
                          exportRTs:
                            description: ExportRTs is a list of route targets to export
                              routes to.
                            items:
                              type: string
                            type: array
                            x-kubernetes-list-type: set
                          importRTs:
                            description: ImportRTs is a list of route targets to import
                              routes from.
                            items:
                              type: string
                            type: array
                            x-kubernetes-list-type: set
                          rd:
                            description: RD is the route distinguisher for the VRF.
                            type: string
                          vrfRef:
                            description: VRFRef is a reference to a IsovalentVRF resource.
                            maxLength: 255
                            minLength: 1
                            type: string
                        required:
                        - vrfRef
                        type: object
                      type: array
                      x-kubernetes-list-map-keys:
                      - vrfRef
                      x-kubernetes-list-type: map
                  required:
                  - name
                  type: object
                maxItems: 16
                minItems: 1
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            required:
            - bgpInstances
            type: object
          status:
            description: Status is the most recently observed status of the IsovalentBGPNodeConfig.
            properties:
              bgpInstances:
                description: BGPInstances is the status of the BGP instances on the
                  node.
                items:
                  properties:
                    localASN:
                      description: LocalASN is the ASN of this BGP instance.
                      format: int64
                      type: integer
                    name:
                      description: Name is the name of the BGP instance. This name
                        is used to identify the BGP instance on the node.
                      type: string
                    peers:
                      description: PeerStatuses is the state of the BGP peers for
                        this BGP instance.
                      items:
                        description: CiliumBGPNodePeerStatus is the status of a BGP
                          peer.
                        properties:
                          establishedTime:
                            description: |-
                              EstablishedTime is the time when the peering session was established.
                              It is represented in RFC3339 form and is in UTC.
                            type: string
                          name:
                            description: Name is the name of the BGP peer.
                            type: string
                          peerASN:
                            description: PeerASN is the ASN of the neighbor.
                            format: int64
                            type: integer
                          peerAddress:
                            description: PeerAddress is the IP address of the neighbor.
                            type: string
                          peeringState:
                            description: PeeringState is last known state of the peering
                              session.
                            type: string
                          routeCount:
                            description: RouteCount is the number of routes exchanged
                              with this peer per AFI/SAFI.
                            items:
                              properties:
                                advertised:
                                  description: Advertised is the number of routes
                                    advertised to this peer.
                                  format: int32
                                  type: integer
                                afi:
                                  description: Afi is the Address Family Identifier
                                    (AFI) of the family.
                                  enum:
                                  - ipv4
                                  - ipv6
                                  - l2vpn
                                  - ls
                                  - opaque
                                  type: string
                                received:
                                  description: Received is the number of routes received
                                    from this peer.
                                  format: int32
                                  type: integer
                                safi:
                                  description: Safi is the Subsequent Address Family
                                    Identifier (SAFI) of the family.
                                  enum:
                                  - unicast
                                  - multicast
                                  - mpls_label
                                  - encapsulation
                                  - vpls
                                  - evpn
                                  - ls
                                  - sr_policy
                                  - mup
                                  - mpls_vpn
                                  - mpls_vpn_multicast
                                  - route_target_constraints
                                  - flowspec_unicast
                                  - flowspec_vpn
                                  - key_value
                                  type: string
                              required:
                              - afi
                              - safi
                              type: object
                            type: array
                          timers:
                            description: Timers is the state of the negotiated BGP
                              timers for this peer.
                            properties:
                              appliedHoldTimeSeconds:
                                description: AppliedHoldTimeSeconds is the negotiated
                                  hold time for this peer.
                                format: int32
                                type: integer
                              appliedKeepaliveSeconds:
                                description: AppliedKeepaliveSeconds is the negotiated
                                  keepalive time for this peer.
                                format: int32
                                type: integer
                            type: object
                        required:
                        - name
                        - peerAddress
                        type: object
                      type: array
                      x-kubernetes-list-map-keys:
                      - name
                      x-kubernetes-list-type: map
                  required:
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
