---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: isovalentmulticastnodes.isovalent.com
spec:
  group: isovalent.com
  names:
    categories:
    - cilium
    - isovalent
    kind: IsovalentMulticastNode
    listKind: IsovalentMulticastNodeList
    plural: isovalentmulticastnodes
    shortNames:
    - imcastnode
    singular: isovalentmulticastnode
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec contains node information
            properties:
              nodeIP:
                description: NodeIP is the IP address of the node.
                type: string
            required:
            - nodeIP
            type: object
          status:
            description: Status contains node local multicast subscriber information
            properties:
              multicastSubscribers:
                description: MulticastSubscribers is a list of multicast groups the
                  node is subscribing.
                items:
                  properties:
                    groupAddr:
                      description: GroupAddr is the multicast group address.
                      type: string
                  required:
                  - groupAddr
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
