name: CuTE scheduled workflows

on:
  schedule:
    # Every Wednesday at 00:00
    - cron: "0 0 * * 3"
  workflow_dispatch:
    inputs:
      slack-channel:
        description: "Slack notification channel ID."
        required: false
        default: ''
      ipsec-only:
        description: "Run IPsec enabled CuTEs only."
        required: false
        default: 'false'

permissions:
  # To be able to access the repository with actions/checkout
  contents: read
  # To trigger workflows via workflow_dispatch
  actions: write

env:
  slack_channel: C02T57KV69Y # Notification will be sent to the `#weaver-in` Slack channel and then routed to the `#cute` channel

jobs:
  cute-scheduled:
    name: CuTE Scheduled
    strategy:
      fail-fast: false
      matrix:
        cute: [
          {
            repo: sky,
            dir: .,
            umbrella: false,
            oss: false,
            region: us-west-1,
            deploy: stable,
            owner: U04M8K4CXTQ # Dario
          },
          {
            repo: bloomberg,
            dir: .,
            umbrella: true,
            oss: false,
            region: us-west-2,
            deploy: stable,
            owner: U02T9JVUR0B # Hart
          },
          {
            repo: form3,
            dir: MAKS,
            umbrella: false,
            oss: false,
            region: westus2,
            deploy: stable,
            owner: U04M8K4CXTQ # Dario
          },
          {
            repo: form3,
            dir: FPS,
            umbrella: false,
            oss: false,
            region: eu-west-2,
            deploy: cute,
            upgrade: stable,
            ipsec: true,
            owner: U04M8K4CXTQ # Dario
          },
          {
            repo: zerohash,
            dir: .,
            umbrella: false,
            oss: false,
            region: us-east-2,
            deploy: stable,
            owner: U05CJ6BFQT0 # Tomasz
          },
          {
            repo: postfinance,
            dir: .,
            umbrella: false,
            oss: false,
            region: eu-west-1,
            deploy: stable,
            owner: U04M8K4CXTQ # Dario
          },
          {
            repo: nationwide,
            dir: .,
            umbrella: true,
            oss: false,
            region: eu-central-1,
            deploy: cute,
            upgrade: stable,
            ipsec: true,
            owner: U02T9JVUR0B # Hart
          },
          {
            repo: swiss-post,
            dir: aws-eks-vpc-cni-chaining,
            umbrella: false,
            oss: false,
            region: ap-south-1,
            deploy: stable,
            owner: U05QJR09TBN # Filip
          },
          {
            repo: swiss-post,
            dir: azure-aks-byocni,
            umbrella: false,
            oss: false,
            region: eastus2,
            deploy: stable,
            owner: U05QJR09TBN # Filip
          },
          {
            repo: roche,
            dir: .,
            umbrella: false,
            oss: false,
            region: eu-west-3,
            deploy: stable,
            owner: U04GD9ACYTE # Philip
          },
          {
            repo: astrazeneca,
            dir: .,
            umbrella: false,
            oss: false,
            region: ca-central-1,
            deploy: stable,
            owner: U04GD9ACYTE # Philip
          },
          {
            repo: telenor,
            dir: .,
            umbrella: false,
            oss: false,
            region: eu-north-1,
            deploy: stable,
            owner: U04EKTKTXC3 # Sandesh
          },
          {
            repo: adobe,
            dir: .,
            umbrella: false,
            oss: false,
            region: ap-northeast-1,
            deploy: stable,
            owner: U050B1LKQP5 # Matt
          },
          {
            repo: northwestern-mutual,
            dir: .,
            umbrella: true,
            oss: false,
            region: eu-central-1,
            deploy: cute,
            upgrade: stable,
            ipsec: false,
            owner: U02T9JVUR0B # Hart
          },
          {
            repo: motorola-solutions,
            dir: ipsec,
            umbrella: false,
            oss: true,
            region: us-west-2,
            deploy: cute,
            upgrade: stable,
            ipsec: true,
            owner: U050B1LKQP5 # Matt
          },
          {
            repo: bundesdruckerei,
            dir: .,
            umbrella: false,
            oss: false,
            region: us-west-2,
            deploy: cute,
            upgrade: stable,
            ipsec: false,
            owner: U04M8K4CXTQ # Dario
          },
          {
            repo: 50hertz,
            dir: .,
            umbrella: false,
            oss: false,
            region: us-west-2,
            deploy: cute,
            upgrade: stable,
            ipsec: false,
            owner: U04GD9ACYTE # Philip
          },
        ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false

      - name: Manually run CuTE workflows
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ "${{ inputs.ipsec-only }}" == "true" && "${{ matrix.cute.ipsec }}" != true ]]; then
            echo "Skipping non-IPsec CuTE: ${{ matrix.cute.repo }}/${{ matrix.cute.dir }}"
            exit 0
          fi
          REF=${GITHUB_REF#refs/heads/}
          slack=${{ env.slack_channel }}
          [[ -n "${{ inputs.slack-channel }}" ]] && slack=${{ inputs.slack-channel }}
          args="repo=${{ matrix.cute.repo }}&dir=${{ matrix.cute.dir }}&region=${{ matrix.cute.region }}&umbrella=${{ matrix.cute.umbrella }}&oss=${{ matrix.cute.oss }}&deploy=${{ matrix.cute.deploy }}&upgrade=${{ matrix.cute.upgrade }}&notify=$slack&owner=${{ matrix.cute.owner }}"
          echo "Triggering workflow for CuTE: $args"
          gh workflow run enterprise-cute.yaml --ref ${REF} -f extra-args="$args"
